.bar {
  margin: 50px auto 0;
  width: 450px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.searchbar {
  height: 45px;
  border: none;
  width: 350px;
  font-size: 16px;
  outline: none;
}
datalist {
  height: 250px;
}
.fa-refresh {
  float: right;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .bar{
    margin: 10px auto 0;
    width: 200px;
    border-radius: 30px;
  border: 1px solid #dcdcdc;
  }
  .searchbar {
    height: 45px;
    border: none;
    width: 150px;
    font-size: 16px;
    outline: none;
  }
  }