#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
#footer{
  margin: 50px auto 0;
  bottom: 0;
  position: relative;
  padding: 20px 20px 0 20px;
}
}