table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.scrollable {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
  margin: 100px 100px;
}

th {
  position: sticky;
  background-color: white;
  z-index: 2;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .scrollable {
    margin: 100px 0 0 0 ;
  }
}
